<!-- top bar -->
<ion-header>
  <ion-toolbar class="topbarsize" color="medium">

    <!-- back icon -->
    <ion-button href="/homepage" size="small" color="Tertiary" slot="start">
      <ion-icon color="dark" name="arrow-back"></ion-icon>
    </ion-button>

    <!-- menu icon -->
    <ion-buttons slot="end">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>

    <h3 text-center> الشاليهات </h3>

  </ion-toolbar>
</ion-header>

<ion-content class="background-image">

  <!-- search -->
  <ion-searchbar showCancelButton="always" (ionInput)=" FilterJSONData($event) ">
  </ion-searchbar>

  <ion-card class="scroll-content">

    <ion-list (click)="selectVal(item.name)" *ngFor="let item of jsonData">
      <img class="act1"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRVISJe2rUgVMJk-YrRmGYreQY9OpGvPLoKtKJ63MiQU1X6GW1m">
      <div text-left>
        <ion-button expand="block" color="medium" size="small">
          {{item.name}}
        </ion-button>
      </div>
    </ion-list>

    <ion-list (click)="selectVal(item2.name)" *ngFor="let item2 of json2Data">
      <img class="act1"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSH0FYI6pmaw7119jo22c5BTr182so4UO86vdkzTvLfY4xTzcFe">
      <div text-left>
        <ion-button expand="block" color="medium" size="small">
          {{item2.name}}
        </ion-button>
      </div>
    </ion-list>

    <ion-list (click)="selectVal(item3.name)" *ngFor="let item3 of json3Data">
      <img class="act1"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcShbqfHj66lsIYjuYYX6Uai4srzJnE3xQcMuZKLDs_bSwZ5jWsi">
      <div text-left>
        <ion-button expand="block" color="medium" size="small">
          {{item3.name}}
        </ion-button>
      </div>
    </ion-list>

    <ion-list (click)="selectVal(item4.name)" *ngFor="let item4 of json4Data">
      <img class="act1"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRzirwDB_zw68QdNCeJXRsKCvrV0r-Au9-TdP37ydRWLcw2tLl2">
      <div text-left>
        <ion-button expand="block" color="medium" size="small">
          {{item4.name}}
        </ion-button>
      </div>
    </ion-list>

    <ion-list (click)="selectVal(item5.name)" *ngFor="let item5 of json5Data">
      <img class="act1"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKAzl-upUJUlmefpr9gOo-QNbcr5iqbGylOuYgD9PgbZjt5JNc">
      <div text-left>
        <ion-button expand="block" color="medium" size="small">
          {{item5.name}}
        </ion-button>
      </div>
    </ion-list>

    <ion-list (click)="selectVal(item6.name)" *ngFor="let item6 of json6Data">
      <img class="act1"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQbPBXgPFc6DLOEotTRMQbbbzeKF7dmfBnogrXFjbZ9fgkIAcR3">
      <div text-left>
        <ion-button expand="block" color="medium" size="small">
          {{item6.name}}
        </ion-button>
      </div>
    </ion-list>

    <ion-list (click)="selectVal(item7.name)" *ngFor="let item7 of json7Data">
      <img class="act1"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRjNe2ufNpBbycb4t3IDFuJMGOarvR2VaYvVlswj3XaoNue85Fn">
      <div text-left>
        <ion-button expand="block" color="medium" size="small">
          {{item7.name}}
        </ion-button>
      </div>
    </ion-list>

  </ion-card>

</ion-content>

<!-- bottom bar-->
<ion-footer>
  <ion-toolbar slot="bottom" color="medium">

    <ion-button slot="start" color="Tertiary" href="/myactivities">
      <ion-icon name="list" color="dark"></ion-icon>
      <ion-label color="dark">أنشطتي</ion-label>
    </ion-button>

    <div text-center>
      <ion-button href="/myfavorite" color="Tertiary">
    <ion-icon name="heart" color="dark"> </ion-icon>
        <ion-label color="dark">مفضلتي</ion-label>
      </ion-button>
    </div>

    <ion-button slot="end" color="Tertiary" href="/homepage">
      <ion-icon name="home" color="dark"></ion-icon>
      <ion-label color="dark">الرئيسية</ion-label>
    </ion-button>

  </ion-toolbar>
</ion-footer>