<!-- top bar -->
<ion-header>
  <ion-toolbar class="topbarsize" color="medium">

    <!-- back icon -->
    <ion-button href="/homepage" size="small" color="Tertiary" slot="start">
      <ion-icon color="dark" name="arrow-back"></ion-icon>
    </ion-button>

    <!-- menu icon -->
    <ion-buttons slot="end">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="background-image">



    <p class="ti"> الاعدادات</p>
    <div class="mysetting">
      <ion-button color="light" expand="block" shape="round" href="/editprofile"> تعديل الحسـاب </ion-button>
      <ion-button color="light" expand="block" shape="round" href="/editnotif"> الاشعـــــارات </ion-button>
    </div>


</ion-content>

