<!-- top bar -->
<ion-header>
    <ion-toolbar class="topbarsize" color="medium">

        <!-- back icon -->
        <ion-button href="/myactivities" size="small" color="Tertiary" slot="start">
            <ion-icon color="dark" name="arrow-back"></ion-icon>
        </ion-button>

        <!-- menu icon -->
        <ion-buttons slot="end">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content class="background-image">

    <!-- search -->
    <ion-searchbar showCancelButton="always" (ionInput)=" FilterJSONData($event) ">
    </ion-searchbar>

<!--          
    <ion-list>
        <div *ngIf="items$| async; let items; else loading">
          <ul>
            <li *ngFor="let item of items">
  
{{item.namep}}  
{{item.number_vist}}
            </li>
          </ul>
          <div *ngIf="items.length === 0">لايوجد نتيجة</div>
  
        </div>
        <ng-template #loading>يتم التحميل&hellip;</ng-template> 
        
      </ion-list> -->
<!-- 
      <ion-list>
        <div *ngIf="data| async; let data; else loading">
          <ul>
            <li *ngFor="let item of data">
  
{{item.namep}}  
{{item.number_vist}}
            </li>
          </ul>
          <div *ngIf="data.length === 0">لايوجد نتيجة</div>
  
        </div>
        <ng-template #loading>يتم التحميل&hellip;</ng-template> 
        
      </ion-list> -->
      <ul>
          <li *ngFor="let item of post| async">
              {{item.namep}}
          </li>
      </ul>
<button (click)="uid()" > s</button>
</ion-content>

<!-- bottom bar-->
<ion-footer>
    <ion-toolbar slot="bottom" color="medium">

        <ion-button slot="start" color="Tertiary" href="/myactivities">
            <ion-icon name="list" color="dark"></ion-icon>
            <ion-label color="dark">أنشطتي</ion-label>
        </ion-button>

        <div text-center>
            <ion-button href="/myfavorite" color="Tertiary">
            <ion-icon name="heart" color="dark"> </ion-icon>
                <ion-label color="dark">مفضلتي</ion-label>
            </ion-button>
        </div>

        <ion-button slot="end" color="Tertiary" href="/homepage">
            <ion-icon name="home" color="dark"></ion-icon>
            <ion-label color="dark">الرئيسية</ion-label>
        </ion-button>

    </ion-toolbar>
</ion-footer>