<ion-content overflow="auto" >

  <ion-header>
    <ion-toolbar>
      <ion-title>
الصيف الهندي      </ion-title>
  
      <!-- back icon -->
      <ion-button href="/showactivities" size="small" color="Tertiary" slot="start">
        <ion-icon color="dark" name="arrow-back"></ion-icon>
      </ion-button>
  
    </ion-toolbar>
  </ion-header>
  
    <p dir="ltr" align="right"> المكان : مطعم الصيف الهندي </p>
  
  
    <ion-card class="welcome-card">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7rM_YTzDt51nej0fuaF8Wu1KfkLx6kDpFc4P5fIfYPyxcXLz1"
        alt="" />
      <div text-left>
        <ion-button size="small" color="medium">
          <ion-icon name="star">
          </ion-icon>
        </ion-button>
        <ion-button size="small" color="medium" href="/comments">
          <ion-icon name="chatboxes"></ion-icon>
        </ion-button>
  
        <ion-button size="small" color="medium">
            <ion-icon name="heart">
            </ion-icon> 4
          </ion-button>
      </div>
  
    </ion-card>
  
  
  
  
  
    <p dir="ltr" align="right">
      عن المكان:
      الصيف الهندي يزدهر لجعل كل ضيف مع القائمةالمتنوعةونوعية الطعام يشعر بالارتياح
      وكأنه في بيته
      <br> <br>نوع الجلسة :داخلية
      <br> <br> الوقت :من م12:30 م 2:00
      <br> <br> التكلفة:200-500
      <br><br>الفئة :عائلات
      <br> <br>:الموقع
    </p>
  
    <div text-center>
      <ion-button class="locbtnsize"
        href="https://www.google.com/maps/place/%D9%85%D8%B7%D8%B9%D9%85+%D8%A7%D9%84%D8%B5%D9%8A%D9%81+%D8%A7%D9%84%D9%87%D9%86%D8%AF%D9%8A+Indian+Summer+Resturant%E2%80%AD/@24.5719221,46.6665768,17z/data=!3m1!4b1!4m5!3m4!1s0x3e2f10192297526d:0x78ebef9438c50d1d!8m2!3d24.5719221!4d46.6643881"
        color="light" size="large">
  
        <img src="./../../assets/alsayfalhendiLoc.png" alt="">
  
      </ion-button>
    </div>
  
    <div class="save">
  
    </div>
  
  </ion-content>
  