<ion-content class="background-image">
  <!-- top bar -->
  <ion-header>
    <ion-toolbar color="Tertiary">
      <ion-button href="/home" color="Tertiary">
        <ion-icon color="dark" size="small" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <!-- activities list  -->
  <ion-list text-center>
    <!-- activity 1 -->
    <img class="act1" src="http://www.emarattv.ae/public/siteimages/shows/2018/faalyat/ds/faalyat-medium.jpg" />
    <ion-button color="medium" expand="block" size="small">
      <ion-label color="dark"> فعاليات</ion-label>
    </ion-button>

    <!-- activity 2 -->
    <img class="act1"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRVBcdfaiQIMTtEs7Gl1utbX2HmL0CgQC8I_-qCFpeMNKQ3whU">
    <ion-button color="medium" expand="block" size="small">
      <ion-label color="dark">مطاعم</ion-label>
    </ion-button>

    <!-- activity 3 -->
    <img class="act1"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQMhGhb7DzPbPN5ekkX_EJ4__8yhWSaYvx5M9ey1-KP9C0z-WCo"
      expand="block" shape="round">
    <ion-button color="medium" expand="block" size="small">
      <ion-label color="dark">مقاهي</ion-label>
    </ion-button>

    <!-- activity 4 -->
    <img class="act1"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW5JuPzHYvpLw7YIIeiYsxDoN6Eg-uG4vTSEgk3yHoY3cTr5k5">
    <ion-button color="medium" expand="block" size="small">
      <ion-label color="dark">فنادق </ion-label>
    </ion-button>

    <!-- activity 5 -->
    <img class="act1"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSBxjZO5bMWwrZ9izcGqKQg-28hRpF2LO1E8R4IDRkHC2Cp4x66">
    <ion-button color="medium" expand="block" size="small">
      <ion-label color="dark"> شاليهات</ion-label>
    </ion-button>

    <!-- activity 6 -->
    <img class="act1"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwPrbCL0edugTpLSlnjhJnGbDdeTIgZwe-cq3eyB5I5Pc9KcVmuA">
    <ion-button color="medium" expand="block" size="small">
      <ion-label color="dark">مراكز تجارية وتسوق</ion-label>
    </ion-button>

    <!-- activity 7 -->
    <img class="act1"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_7vpIsJkxC8ETaZwp1p80nt9gE1resTZp8yHqy6CV4-B1h-Fa">
    <ion-button color="medium" expand="block" size="small">
      <ion-label color="dark">نوادي رياضية</ion-label>
    </ion-button>
  </ion-list>

</ion-content>