.background-image{
    --background: url('C:/wamp64/www/project/gpApp/src/assets/firstpagebackground.gif')
        0 0/100% 100%;  
    }
    
.ion-padding{
    position:fixed;    
    top:40%;
    left: 25%;
    width: 200px;
    }