<!-- top bar -->
<ion-header>
  <ion-toolbar class="topbarsize" color="medium">

    <!-- back icon -->
    <ion-button href="/settings" size="small" color="Tertiary" slot="start">
      <ion-icon color="dark" name="arrow-back"></ion-icon>
    </ion-button>


  </ion-toolbar>
</ion-header>

<ion-content class="background-image">

<ion-card class="scroll-content">

  <ion-item color="Tertiary" dir="rtl">
    <ion-toggle color="primary" text-right checked="true" [(ngModel)]="hide"></ion-toggle>
    <ion-label text-left> تفعيل الاشعارات </ion-label>
  </ion-item>
  <form text-right>
    <p *ngIf="hide" dir="rtl">
      <br>
      <input type="checkbox" name="vehicle1" value="     "> فعاليات <br>
      <input type="checkbox" name="vehicle1" value="     "> أزياء <br>
      <input type="checkbox" name="vehicle1" value="     "> فنون وثقافة <br>
      <input type="checkbox" name="vehicle1" value="     "> العاب <br>
      <input type="checkbox" name="vehicle1" value="     "> تراثي <br>
      <input type="checkbox" name="vehicle1" value="     "> كرنفال <br>
      <input type="checkbox" name="vehicle1" value="     "> (الخطة (تنبهني عند افتراب موعد الخطة <br>
      <input type="checkbox" name="vehicle1" value="     "> لاحقا <br>
    </p>
  </form>

  <div text-center>
    <ion-button href="/settings" color="medium" shape="round">حفظ </ion-button>
  </div>

</ion-card>
</ion-content>