<!-- home page and activity list page -->
<!-- top bar -->
<ion-header>
  <ion-toolbar class="topbarsize" color="medium">

    <div slot="end" class="btnposition">


      <!-- notification icon -->
      <ion-button href="/choosenotif" size="small" color="Tertiary">
        <ion-icon name="notifications" color="dark"></ion-icon>
      </ion-button>

    </div>

    <!-- menu icon -->
    <ion-buttons slot="end">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content class="background-image">
  <!-- search -->
  <ion-searchbar color="medium" (onChange)="initializeJSONData()" (ionInput)=" FilterJSONData($event) " showCancelButton="always">
  </ion-searchbar>

  <ion-card class="scroll-content">

    <ion-list text-center (click)="selectVal(item.name)" *ngFor="let item of jsonData">

      <img class="act1" src="http://www.emarattv.ae/public/siteimages/shows/2018/faalyat/ds/faalyat-medium.jpg">
      <ion-button href="/newevents" color="medium" expand="block" size="small">
        {{item.name}}
      </ion-button>
    </ion-list>

    <ion-list (click)="selectVal(item2.name)" *ngFor="let item2 of json2Data">
      <img class="act1"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRVBcdfaiQIMTtEs7Gl1utbX2HmL0CgQC8I_-qCFpeMNKQ3whU">
      <ion-button href="/restaurantslist" color="medium" expand="block" size="small">
        {{item2.name}}
      </ion-button>
    </ion-list>

    <ion-list (click)="selectVal(item3.name)" *ngFor="let item3 of json3Data">
      <img class="act1"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQMhGhb7DzPbPN5ekkX_EJ4__8yhWSaYvx5M9ey1-KP9C0z-WCo">
      <ion-button href="/cafelist" color="medium" expand="block" size="small">
        {{item3.name}}
      </ion-button>
    </ion-list>



    <ion-list (click)="selectVal(item6.name)" *ngFor="let item6 of json6Data">
      <img class="act1"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwPrbCL0edugTpLSlnjhJnGbDdeTIgZwe-cq3eyB5I5Pc9KcVmuA">
      <ion-button href="/malls" color="medium" expand="block" size="small">
        {{item6.name}}
      </ion-button>
    </ion-list>



    <br>
    <div>
      <ion-button href="/createactivity" size="medium" color="medium" shape="round">
        <ion-label>انشاء نشاط</ion-label>
      </ion-button>
    </div>
  </ion-card>

</ion-content>

<!-- bottom bar-->
<ion-footer>
  <ion-toolbar slot="bottom" color="medium">

    <ion-button slot="start" color="Tertiary" href="/myactivities">
      <ion-icon name="list" color="dark"></ion-icon>
      <ion-label color="dark">أنشطتي</ion-label>
    </ion-button>

    <div text-center>
      <ion-button href="/myfavorite" color="Tertiary">
        <ion-icon name="heart" color="dark"> </ion-icon>
        <ion-label color="dark">مفضلتي</ion-label>
      </ion-button>
    </div>


    <ion-button slot="end" color="Tertiary" href="/homepage">
      <ion-icon name="home" color="dark"></ion-icon>
      <ion-label color="dark">الرئيسية</ion-label>
    </ion-button>

  </ion-toolbar>
</ion-footer>