<!-- top bar -->
<ion-header>
  <ion-toolbar class="topbarsize" color="medium">

    <!-- back icon -->
    <ion-button href="/homepage" size="small" color="Tertiary" slot="start">
      <ion-icon color="dark" name="arrow-back"></ion-icon>
    </ion-button>

    <!-- menu icon -->
    <ion-buttons slot="end">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>

    <h3 text-center> المطاعم </h3>

  </ion-toolbar>
</ion-header>

<ion-content class="background-image">

  <!-- search -->
  <!-- <ion-searchbar showCancelButton="always" (ionInput)=" FilterJSONData($event) ">
  </ion-searchbar> -->

  <ion-card class="scroll-content">


    <!-- مطاعم شعبية -->
    <ion-button (click)="type_place('شعبي')"(click)="appearlist1()" expand="full" color="dark">
      <h3> مطاعم شعبية </h3>
    </ion-button>

    <!-- -------------------------------------------مطاعم شعبية-------------------------------------- -->

    <!-- 1 -->
    <div *ngIf="listshow1">
 
        <ion-list>
            <div *ngIf="items$ | async; let items; else loading">
              <ul>
                <li *ngFor="let item of items">
                    <ion-button expand="block" color="medium" size="small" (click)=open(item)>
                        {{item.name}} </ion-button>
                     

                </li>
              </ul>
              <div *ngIf="items.length === 0">لايوجد</div>
      
            </div>
            <ng-template #loading>يتم التحميل&hellip;</ng-template> 
            
          </ion-list>
     


      <ion-button (click)="noappearlist1()" expand="full" color="dark">
        <h3> اخفاء </h3>
      </ion-button>

    </div>

    <!-- ---------------------------------------------------------------------------------------------- -->

    <!-- مطاعم شعبية -->
    <ion-button (click)="type_place('ايطالي')"(click)="appearlist2()" expand="full" color="dark">
        <h3> مطاعم ايطالية </h3>
      </ion-button>
  
      <!-- -------------------------------------------مطاعم ايطالية-------------------------------------- -->
  
      <!-- 1 -->
      <div *ngIf="listshow2">
   
          <ion-list>
              <div *ngIf="items$ | async; let items; else loading">
                <ul>
                  <li *ngFor="let item of items">
                      <ion-button expand="block" color="medium" size="small" (click)=open(item)>
                          {{item.name}} </ion-button>
                       
  
                  </li>
                </ul>
                <div *ngIf="items.length === 0">لايوجد</div>
        
              </div>
              <ng-template #loading>يتم التحميل&hellip;</ng-template> 
              
            </ion-list>
       
  
  
        <ion-button (click)="noappearlist2()" expand="full" color="dark">
          <h3> اخفاء </h3>
        </ion-button>
  
      </div>
  

    <!-- --------------------------------------------------------------------------------------------- -->


    <!-- مطاعم شعبية -->
    <ion-button (click)="type_place('فرنسي')"(click)="appearlist3()" expand="full" color="dark">
        <h3> مطاعم فرنسي </h3>
      </ion-button>
  
      <!-- -------------------------------------------مطاعم ايطالية-------------------------------------- -->
  
      <!-- 1 -->
      <div *ngIf="listshow3">
   
          <ion-list>
              <div *ngIf="items$ | async; let items; else loading">
                <ul>
                  <li *ngFor="let item of items">
                      <ion-button expand="block" color="medium" size="small" (click)=open(item)>
                          {{item.name}} </ion-button>
                       
  
                  </li>
                </ul>
                <div *ngIf="items.length === 0">لايوجد</div>
        
              </div>
              <ng-template #loading>يتم التحميل&hellip;</ng-template> 
              
            </ion-list>
       
  
  
        <ion-button (click)="noappearlist3()" expand="full" color="dark">
          <h3> اخفاء </h3>
        </ion-button>
  
      </div>
          <!-- --------------------------------------------------------------------------------------------- -->


    <!-- مطاعم شعبية -->
    <ion-button (click)="type_place('اسيوي')"(click)="appearlist4()" expand="full" color="dark">
        <h3> مطاعم اسيوية </h3>
      </ion-button>
  
      <!-- -------------------------------------------مطاعم ايطالية-------------------------------------- -->
  
      <!-- 1 -->
      <div *ngIf="listshow4">
   
          <ion-list>
              <div *ngIf="items$ | async; let items; else loading">
                <ul>
                  <li *ngFor="let item of items">
                      <ion-button expand="block" color="medium" size="small" (click)=open(item)>
                          {{item.name}} </ion-button>
                       
  
                  </li>
                </ul>
                <div *ngIf="items.length === 0">لايوجد</div>
        
              </div>
              <ng-template #loading>يتم التحميل&hellip;</ng-template> 
              
            </ion-list>
       
  
  
        <ion-button (click)="noappearlist4()" expand="full" color="dark">
          <h3> اخفاء </h3>
        </ion-button>
  
      </div>
        <!-- --------------------------------------------------------------------------------------------- -->


    <!-- مطاعم شعبية -->
    <ion-button (click)="type_place('هندي')"(click)="appearlist5()" expand="full" color="dark">
        <h3> مطاعم هندية </h3>
      </ion-button>
  
      <!-- -------------------------------------------مطاعم ايطالية-------------------------------------- -->
  
      <!-- 1 -->
      <div *ngIf="listshow5">
   
          <ion-list>
              <div *ngIf="items$ | async; let items; else loading">
                <ul>
                  <li *ngFor="let item of items">
                      <ion-button expand="block" color="medium" size="small" (click)=open(item)>
                          {{item.name}} </ion-button>
                       
  
                  </li>
                </ul>
                <div *ngIf="items.length === 0">لايوجد</div>
        
              </div>
              <ng-template #loading>يتم التحميل&hellip;</ng-template> 
              
            </ion-list>
       
  
  
        <ion-button (click)="noappearlist5()" expand="full" color="dark">
          <h3> اخفاء </h3>
        </ion-button>
  
      </div>
      
    <!-- مطاعم شعبية -->
    <ion-button (click)="type_place('مشاوي')"(click)="appearlist6()" expand="full" color="dark">
        <h3> مطاعم مشاوي </h3>
      </ion-button>
  
      <!-- -------------------------------------------مطاعم ايطالية-------------------------------------- -->
  
      <!-- 1 -->
      <div *ngIf="listshow6">
   
          <ion-list>
              <div *ngIf="items$ | async; let items; else loading">
                <ul>
                  <li *ngFor="let item of items">
                      <ion-button expand="block" color="medium" size="small" (click)=open(item)>
                          {{item.name}} </ion-button>
                       
  
                  </li>
                </ul>
                <div *ngIf="items.length === 0">لايوجد</div>
        
              </div>
              <ng-template #loading>يتم التحميل&hellip;</ng-template> 
              
            </ion-list>
       
  
  
        <ion-button (click)="noappearlist6()" expand="full" color="dark">
          <h3> اخفاء </h3>
        </ion-button>
  
      </div>
      <!-- مطاعم شعبية -->
      <ion-button (click)="type_place('وجبات سريعة')"(click)="appearlist7()" expand="full" color="dark">
          <h3> مطاعم وجبات سريعة </h3>
        </ion-button>
    
        <!-- -------------------------------------------مطاعم ايطالية-------------------------------------- -->
    
        <!-- 1 -->
        <div *ngIf="listshow7">
     
            <ion-list>
                <div *ngIf="items$ | async; let items; else loading">
                  <ul>
                    <li *ngFor="let item of items">
                        <ion-button expand="block" color="medium" size="small" (click)=open(item)>
                            {{item.name}} </ion-button>
                         
    
                    </li>
                  </ul>
                  <div *ngIf="items.length === 0">لايوجد</div>
          
                </div>
                <ng-template #loading>يتم التحميل&hellip;</ng-template> 
                
              </ion-list>
         
    
    
          <ion-button (click)="noappearlist7()" expand="full" color="dark">
            <h3> اخفاء </h3>
          </ion-button>
    
        </div>
  </ion-card>

</ion-content>

<!-- bottom bar-->
<ion-footer>
  <ion-toolbar slot="bottom" color="medium">

    <ion-button slot="start" color="Tertiary" href="/myactivities">
      <ion-icon name="list" color="dark"></ion-icon>
      <ion-label color="dark">أنشطتي</ion-label>
    </ion-button>

    <div text-center>
      <ion-button href="/myfavorite" color="Tertiary">
        <ion-icon name="star" color="dark"> </ion-icon>
        <ion-label color="dark">مفضلتي</ion-label>
      </ion-button>
    </div>

    <ion-button slot="end" color="Tertiary" href="/homepage">
      <ion-icon name="home" color="dark"></ion-icon>
      <ion-label color="dark">الرئيسية</ion-label>
    </ion-button>

  </ion-toolbar>
</ion-footer>