<!-- top bar -->
<ion-header>
  <ion-toolbar class="topbarsize" color="medium">

    <!-- back icon -->
    <ion-button href="/homepage" size="small" color="Tertiary" slot="start">
      <ion-icon color="dark" name="arrow-back"></ion-icon>
    </ion-button>

    <!-- menu icon -->
    <ion-buttons slot="end">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>

    <h3 text-center> الفعاليات </h3>

  </ion-toolbar>

</ion-header>

<ion-content class="background-image">
  <!-- search -->
  <ion-searchbar showCancelButton="always" (ionInput)=" FilterJSONData($event) ">
  </ion-searchbar>

  <ion-card class="scroll-content">

    <ion-list (click)="selectVal(item.name)" *ngFor="let item of jsonData">
      <img class="act1"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR9cSlmyYde1Ce2uKnqzyQrzC_jfpARvTy9PPd2-wFZyoK_YA8X">

      <div text-left>
        <ion-button href="/eventdetail" class="btnsize" color="medium" size="small">
          {{item.name}}
        </ion-button>
      </div>

      <!-- calendar button -->
      <div class="calendarpos" text-right>
        <ion-button text-right color="medium" size="small" (click)="presentAlert()">
          <ion-icon name="calendar" color="dark" size="small"></ion-icon>
        </ion-button>
      </div>

    </ion-list>

  </ion-card>

</ion-content>

<!-- bottom bar-->
<ion-footer>
  <ion-toolbar slot="bottom" color="medium">

    <ion-button slot="start" color="Tertiary" href="/myactivities">
      <ion-icon name="list" color="dark"></ion-icon>
      <ion-label color="dark">أنشطتي</ion-label>
    </ion-button>

    <div text-center>
      <ion-button href="/myfavorite" color="Tertiary">
        <ion-icon name="star" color="dark"> </ion-icon>
        <ion-label color="dark">مفضلتي</ion-label>
      </ion-button>
    </div>

    <ion-button slot="end" color="Tertiary" href="/homepage">
      <ion-icon name="home" color="dark"></ion-icon>
      <ion-label color="dark">الرئيسية</ion-label>
    </ion-button>

  </ion-toolbar>
</ion-footer>